.my-filters {
  display: flex;
  align-items: center;
  padding: 0 2.5rem;
  height: 6rem;
  border-bottom: 0.5pt solid rgba(128, 128, 128, 0.226);
}

.my-filters b {
  margin-right: 0.5rem;
}

.my-filters a {
  margin-bottom: 0 !important;
}

.pag-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.pag-buttons p,
img {
  margin-left: 0.25rem;
}
