.user-data {
  background-color: rgb(143, 141, 141);
  margin: 0.5rem;
  border-radius: 27px;
}

.user-data div {
  display: flex;
  align-items: center;
}

.user-data b,
p {
  margin: 0;
  padding: 0 0.25rem;
  color: white;
}

.user-data:hover {
  cursor: not-allowed;
}

.my-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-modal .my-button {
  background-color: #ff7800;
  border-color: #ff7800;
  color: white;
  font-weight: 600;
}

.my-modal .my-button:hover {
  background-color: #fa9135;
  border-color: #f0a96c;
}

.my-cancel-button {
  width: 60%;
}

@media screen and (max-width: 769px) {
  .user-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
  }
  .user-data p {
    display: inline;
  }

  .navbar-brand {
    margin: 0 auto;
  }

  .buttons {
    justify-content: center;
  }
}
