.modal-card {
  border-radius: 27px;
  animation: bounceIn 0.5s ease-in-out;
}

main,
header,
header img,
.my-filters {
  animation: fadeIn 1s ease-in-out;
}

.orange {
  background-color: #ff7800;
  border-color: #ff7800;
  color: white;
  font-weight: 700;
}

.orange:hover {
  background-color: #e97108;
  border-color: #e97108;
  color: white;
}

.history h1 {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 5rem;
}
